/*
 * Dropit v1.1.0
 * http://dev7studios.com/dropit
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	  padding: 0;
	  margin: 0 10px 0;
    float:right;
    text-align: left;
    display:inline-block;
}
.dropit .dropit-trigger { 
    position: relative; 
}

.dropit.dropit-inverse .dropit-submenu {
    position: absolute;
    bottom: 100% !important;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
    padding: 20px;
    margin: 20px 0 0;
}

.dropit.dropit-base .dropit-submenu {
    position: absolute;
    top: 100%;
    right: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 100px;
    list-style: none;
	  padding: 20px;
	  margin: 20px 0 0;
}

.dropit .dropit-open .dropit-submenu { 
    display: block; 
    background: #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.30);
    border-radius: 4px;
}

.dropit .dropit-open .dropit-submenu li a {
  text-align: left;
  float: none;
}

 .dropit.dropit-base .dropit-open .dropit-submenu:after {
  top: -8px;
  right: 10px;
  content: " ";
  width: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 8px 8px;
  border-color: #FFFFFF transparent;
  display: block;
  z-index: 1;
 }

  .dropit.dropit-inverse .dropit-open .dropit-submenu:after {
  bottom: -8px;
  right: 8px;
  content: " ";
  width: 0;
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #FFFFFF transparent;
  display: block;
  z-index: 1;
 }

 /*  setting dropup */

  .dropit .dropit-open .dropit-setsubmenu:after {

   top: 98%;
   right: 7px;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #FFFFFF;
   border-width: 10px;
   margin-left: -10px;
 }

  /*  END setting dropup */

 .dropit .dropit-open .dropit-submenu li {
  display: block;
  margin-bottom: 20px;
 }
 .dropit .dropit-open .dropit-submenu li:last-child {
  margin-bottom: 0px;
 }
 .dropit .dropit-open .dropit-submenu li a {
  color:#34495E;
  text-decoration: none;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight:100;
 }
